body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  min-width: 360px;
  font-family: Arial, Helvetica, sans-serif;
}

body button {
    width: 100px;
}

body p {
    font-weight: bold;
    color: red;
}